<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="book-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :filename %>
    <%= text_input f, :filename %>
    <%= error_tag f, :filename %>
  
    <%= error_tag f, :title %>

    <%= error_tag f, :author %>
    <%= error_tag f, :root_file_name %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
